     
#structure.flow-text.white.z-depth-2.row.container.fadeInLeft.delay-4.animated
    .col.s12.l4
        .card.z-depth-4
          .card-content.white-text.center-align
              img(src='assets/images/camera.jpg', alt="{{ 'SECURITY' | translate }}").main-picture.z-depth-2
              br
              span.card-title Segurança               
              p Portaria e Sistema de Monitoramento 24h
    .col.s12.l4
        .card.z-depth-4
          .card-content.white-text.center-align
              img(src='assets/images/shivaint.png', alt="{{ 'COMFORT' | translate }}").main-picture.z-depth-2
              br
              span.card-title Conforto               
              p Área de Lavanderia
              p Garagem
              p Bem Localizado
              
    .col.s12.l4
        .card.z-depth-4
            .card-content.white-text.center-align
              img(src='assets/images/piscina.jpg', alt="{{ 'RECREATION' | translate }}").main-picture.z-depth-2
              br
              span.card-title Lazer               
              p Piscina
              p Área de Churrasqueira
              p Pacote de canais SKY
                