@using Util
@{
    ViewBag.Title = Constants.MOVEIS_SANTA_EDWIGES;
}



<div class="media" style="background-color: white; padding: 10px">
    <a class="pull-left span3" style="margin-left: 0px;margin-top: 24px; margin-bottom: 24px;" href="#">
        <img class="media-object" src="../../Content/img/PortariaBranir.png">
    </a>
    <div class="media-body">
        <div class="row-fluid">
            <div class="span6">
                <div class="media">Desde 1997, o Condomínio São Miguel presta um serviço de qualidade para seus moradores.
                </div>
            </div>
            <div class="span6">
                <div class="media">Internamente, os prédios se comunicam através das áreas comuns e da área de lazer.
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="media">O Condomínio é constituído por sete prédios de 2 andares, com entradas e interfones independentes para cada prédio, em um total de 52 apartamentos.
                </div>
            </div>
            <div class="span6">
                <div class="media">Nosso objetivo é a satisfação e tranquilidade dos moradors do Condomínio, visando a proporcionar um ambiente agradável a todos.
                </div>
            </div>
        </div>
    </div>
</div> 