@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}

<script type="text/javascript">

        
</script>
<div class="row-fluid">
    @*<div class="span6">
        <div id="myCarousel" class="carousel pull-left" data-interval="3000" style="margin-top: 50px ; margin-left: 70px; margin-right: auto;">    
            <div class="carousel-inner"  >
                <div class="item "   name="item1">
                    @Html.Partial("_StandartImage", "../../Content/img/PortariaPrincipal.png")                    
                    <div class="container">
                        <div class="carousel-caption carouselCaptionTransparence">
                            <h1 class="headerCarouselCaption">Conforto</h1>
                          
                        </div>
                    </div>
                </div>

                <div class="item active"  name="item2">
                    @Html.Partial("_StandartImage", "../../Content/img/PortariaGanesh.png")                    
                    <div class="container">
                        <div class="carousel-caption carouselCaptionTransparence">
                            <h1 class="headerCarouselCaption">Segurança</h1>
                          
                        </div>
                    </div>
                </div>
                <div class="item" name="item3">
                    @Html.Partial("_StandartImage", "../../Content/img/PortariaBranir.png")
                    <div class="container">
                        <div class="carousel-caption carouselCaptionTransparence">
                            <h1 class="headerCarouselCaption">Tranquilidade</h1>
                          
                        </div>
                    </div>
                </div>

            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
    </div>*@
    <div class="span12" style="margin: 0px;">
        <div class="well" style="margin: 50px ; ">
            <h1 style="padding-top: 30px;">Condomínio São Miguel</h1>
            <br/>
            <p class="lead">
                Desde 1997, o Condomínio São Miguel presta um serviço de qualidade para seus moradores.
              

            </p>
            <p class="lead">
              
                O condominio é constituido por sete prédios de 2 andares,com entradas e interfones independentes para cada prédio, em um total de 52 apartamentos.
                Internamente, os prédios se comunicam através das áreas comuns e da área de lazer.
              

            </p>
            <p class="lead">
              
                Nosso objetivo é a satisfação e tranquilidade dos moradores do Condomínio, visando a proporcionar um ambiente agradável a todos. 

            </p>
        
        </div>
    </div>

</div>
