@{
    ViewBag.Title = "Home Page";
}
<div class="hero-unit span12 row-fluid">
    <h1>
        Condomínio São Miguel</h1>
    <br />
    <br />
    <p>
        Site atualmente em reformas.
        <br />
        Por favor, acesse novamente dentro de alguns dias.
        <br />
    </p>
    <br />
    <div class="control-group row-fluid span12">
        <label class="control-label" for="inputIcon">
            <b>Endereço</b></label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-home"></i></span>
                <input class="span4" disabled="disabled" type="text" title='Rua Joaquim Esteves de Oliveira, 382 - Jd. São Lucas - Alfenas - MG'
                    value='Rua Joaquim Esteves de Oliveira, 382 - Jd. São Lucas - Alfenas - MG' />
            </div>
            <br />
            <label class="control-label" for="inputIcon">
                <b>Telefone</b></label>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input disabled="disabled" type="text" title='(35) 3291-3996' value='(35) 3291-3996'/>
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input disabled="disabled" type="text" title='(35) 8838-3459' value='(35) 8838-3459'/>
            </div>
            <br />
            <label class="control-label" for="inputIcon">
                <b>Email</b></label>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input disabled="disabled" type="text" title='carvalho_ae@hotmail.com' value='carvalho_ae@hotmail.com' />
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input disabled="disabled" type="text" title='aliene.carvalho@terra.com.br' value='aliene.carvalho@terra.com.br' />
            </div>
        </div>
    </div>
</div>
