@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}

<div class="hero-unit span12 row-fluid">
    <h1>
        Condomínio São Miguel</h1>
    <br />
    <br />
    <p>
     O Condomínio São Miguel, localizado em Alfenas - Cidade Universitária, foi construído em 1997 e pioneiramente iniciou suas atividades de atendimento a comunidade estudantil em Alfenas, oferecendo instalações confortáveis e seguras.
        <br/><br/>
        Com localização próxima a Unifenas, hospital Alzira Velano e de fácil acesso à UNIFAL com conforto de hotel e aconchego de residência.
        <br/>
        <br/>
        <br/>
        Site atualmente em reformas.
        <br />
        Por favor, acesse novamente dentro de alguns dias.
        <br />
         <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
            src="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed" style="color:#0000FF;text-align:left">
            Localização no Google Maps</a></small>
    </p>
    <br />
  
  
</div>


<!-- Three columns of text below the carousel -->
     @* <div class="row-fluid">
        <div class="span4">
            <img class="img-circle" src="http://placehold.it/140x140"/>
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
            <img class="img-circle" src="http://placehold.it/140x140"/>
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
            <img class="img-circle" src="http://placehold.it/140x140"/>
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
      </div>
    
*@