@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}

<div class="row-fluid span12" style="margin-bottom: 75px;">
      <div class="featurette">
        
        <h2 class="featurette-heading">Segurança</h2>
        <p class="lead">
            O condomínio São Miguel oferece uma ótima estrutura para garantir a segurança dos moradores.
        </p>
      </div>

      <div class="featurette">
        
        <h2 class="featurette-heading">Conforto</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>


      <div class="featurette">
        
        <h2 class="featurette-heading">Lazer</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

</div>