@using Util
@{
    ViewBag.Title = Constants.MOVEIS_SANTA_EDWIGES;
}
<div class="span6">
    <div class="media" style="border-color: rgb(158, 182, 220); border-right-style: dotted; border-right-width: 1px">
        <div class="media-body">
            <div class="row-fluid">
                Desde 1997, o Condomínio São Miguel presta um serviço de qualidade para seus moradores.
                <br /><br />
                Internamente, os prédios se comunicam através das áreas comuns e da área de lazer.
            </div>
        </div>
    </div>
</div>
<div class="span6">
    <div class="media">
        <div class="media-body">
            <div class="row-fluid">
                 Desde 1997, o Condomínio São Miguel presta um serviço de qualidade para seus moradores.
                <br /><br />
                Internamente, os prédios se comunicam através das áreas comuns e da área de lazer.
            </div>
        </div>
    </div>
</div>
