@model Model.PacienteModel
<div class="fileupload fileupload-new" data-provides="fileupload">
    @if (Model == null || Model.Foto == null)
    {
        <div class="fileupload-preview thumbnail" style="width: 100px; height: 80px;">
        </div>
    }
    else
    {
        <div class="fileupload-new thumbnail" style="width: 100px; height: 100px;">
            @Util.Util.GetImageTagFromFilePath(Server.MapPath("~/" + Model.Foto))
        </div>
        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px;
            max-height: 150px; line-height: 20px;">
        </div>
    }
    
        <span class="btn btn-file"><span class="fileupload-new">Escolher Imagem</span> <span
            class="fileupload-exists">Alterar Imagem</span>
            <input type="file" name="ArquivoImagem" />
        </span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover Imagem</a>
    
</div>
