@model Model.ExameDadosModel

<div class="row-fluid">
    <div class="span12">
        <a  title="Edição" href="@Url.Action("Edit", "ExameDados", new { p_Identifier = Model.Id })"><i class="icon-edit">
        </i></a>
    </div>
</div>


   