@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}
@Html.Partial("_HeaderImage")
      <hr class="featurette-divider">

      <div class="featurette">
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                src="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed" style="color:#0000FF;text-align:left">
                


          <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">
