@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}

<div  style="margin-top: 30px; width: 80%; margin-left: auto; margin-right: auto;" >
            
            <div align="center">
    <iframe  width="30%" height="30%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  
            src="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed&amp;output=svembed"></iframe><br />
    <a href="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed" style="color:#0000FF;text-align:left"/>
            </div>
    <br/>
    <br/>
    
    <p class="lead">O condomínio São Miguel situa-se na rua Joaquim Esteves de Oliveira, 382, no bairro Jardim São Lucas, em Alfenas, Minas Geraes
        <br/><br/>Próximo ao Hospital Universitário Alzira Velano e à UNIFENAS, o morador tem ainda a facilidade de estar no Jardim São Lucas, local agradável e tranquilo, servido por restaurantes,mercearias,panificadoras,papelarias e outros comércios necessários ao dia-a-dia.
        <br/><br/>
        A cerca de 1,5 km do centro da cidade, o condominio São Miguel fica próximo das principais linhas de ônibus da cidade.
    </p>
</div>



                
                
      @Html.Partial("_Footer")
