@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}

<div  style="margin-top: 30px; width: 80%; margin-left: auto; margin-right: auto;" >
            
            
            <div class="media">
            
              <div class="media-body">
               <a class="pull-right" href="#">
     </a>
            
                <h4 class="media-heading">Localização</h4>
                O Condomínio São Miguel situa-se na rua Joaquim Esteves de Oliveira, 382, no bairro Jardim São Lucas, em Alfenas, Minas Geraes
        <br/><br/>Próximo ao Hospital Universitário Alzira Velano e à UNIFENAS, o morador tem ainda a facilidade de estar no Jardim São Lucas, local agradável e tranquilo, servido por restaurantes,mercearias,panificadoras,papelarias e outros comércios necessários ao dia-a-dia.
        <br/><br/>
        A cerca de 1,5 km do centro da cidade, o condominio São Miguel fica próximo das principais linhas de ônibus da cidade.
              </div>

              
            
            </div>
               
            
</div>
