@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}

<p class="lead">
    TEXTO LOCALIZAÇÃO
</p>
<div align="center">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
            src="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed" style="color:#0000FF;text-align:left"/>
</div>

                
