
#contact.flow-text.col.s12
  .row
    form.col.s12.m8.offset-m2#contact-form
      .row.container
        h3 Contato
      .row.container
        .input-field.col.s12
          i.material-icons.prefix perm_identity
          input#input_name(type='text', length='10', ng-model='name', data-error='Campo nome obrigatório' data-success=':)', required='true')
          label(for='input_name') Nome
      .row.container
        .input-field.col.s12
          i.material-icons.prefix email         
          input#input_email(type='email', length='25', ng-model='email', data-error='Por favor, digite um e-mail válido' data-success=':)', required='true').validate
          label(for='input_email') Email        
      .row.container
        .input-field.col.s12
          i.material-icons.prefix phone          
          input#input_phone(type='text', length='25', ng-model='phone', required='true').validate
          label(for='input_phone') Telefone            
      .row.container
        .input-field.col.s12
          i.material-icons.prefix message
          textarea#textarea_message.materialize-textarea(length='270', required='true').validate
          label(for='textarea_message') Mensagem            
      .row.container
        a.waves-effect.waves-light.btn Enviar

  

          

.col.s12.footer-info
  .row
    i.fa.fa-home.fa-fw.col.s12.m4 Rua Joaquim Esteves de Oliveira, 382
    i.fa.fa-phone.col.s12.m4 35 32924218
    i.fa.fa-whatsapp.col.s12.m4 35 88383459
