
#contact.flow-text.container
  .card.z-depth-2
    .card-image
      img(src='assets/images/banner-desc.png', alt="{{ 'CONDOMINIO_SAO_MIGUEL' | translate }}").main-picture.z-depth-2
    .card-content
      .row
        .col.s6
          div Desde 1997, o Condomínio São Miguel vem prestando um serviço de qualidade para seus moradores.
        .col.s6
          div Nosso objetivo é a satisfação e tranquilidade dos moradores do Condomínio, visando a proporcionar um ambiente agradável a todos.
        

.container
  p
    | Angular Fullstack v3.0.0-rc7-patch.0
    = ' | '
    a(href='https://twitter.com/tyhenkel') @tyhenkel
    = ' | '
    a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
