$basic-color-contact-form: #2BBBAD;
footer{    
  color: white;
  &.footer {
    text-align: center;
    padding: 20px;
    

    input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
        background-color: transparent !important;
        background-image: none;
        color: #2BBBAD;
    }
  }
  #contact{
    background-color: $color-primary-3;
    padding: 10px;

    h3{
      color: $basic-color-contact-form;
    }
    form{
      padding-top: 35px;
      padding-bottom: 35px;
    }
    .input-field{
      label {
        color: $basic-color-contact-form;
      }
      input:focus + label,
      textarea:focus + label {
        color: $basic-color-contact-form;
      }
      input:focus,
      textarea:focus {
        border-bottom: 1px solid $basic-color-contact-form;
        box-shadow: 0 1px 0 0 $basic-color-contact-form;
      }
      .prefix {
        color: $basic-color-contact-form
      }
      input,
      textarea {
        border-bottom: 1px solid $basic-color-contact-form;
        box-shadow: 0 1px 0 0 $basic-color-contact-form;
      }
      input.valid,
      textarea.valid {
        border-bottom: 1px solid $basic-color-contact-form;
        box-shadow: 0 1px 0 0 $basic-color-contact-form;
      }
      input.invalid,
      textarea.invalid {
        border-bottom: 1px solid red;
        box-shadow: 0 1px 0 0 red;
      }
    }
  }
  
  .footer-info{
    color: $color-primary-2;
    background-color: $color-primary-4;
    padding: 0;
    margin: 0;
    i.fa{
      padding: 10px;
      &:before {
        padding: 10px;
      }
    }
    
  }
  
}