
#contact.col.s12.footer-info
  h3 Contato
  br 
  br 
  .row
    i.small.fa.fa-home.fa-fw.col.s12 Rua Joaquim Esteves de Oliveira, 382
    i.small.fa.fa-phone.col.s12 (35) 3292-4218
    i.small.fa.fa-whatsapp.col.s12 (35) 8838-3459
