.page-footer
  .container
    ul
      li
        a.grey-text.text-lighten-3(ui-sref='main') Home
      li
        a.grey-text.text-lighten-3(ui-sref='structure') Estrutura
      li
        a.grey-text.text-lighten-3(ui-sref='location') Localização
      li
        a.grey-text.text-lighten-3(ui-sref='contact') Contato
  .footer-copyright
    .container.white-text
      a.grey-text.text-lighten-3.right(href='#!') Visite nossa página no Facebook
      
