@using WebControllers
@model Model.ConsultaModel
@{
    String method = "Search";
}
@using (Html.BeginForm(method, "Consulta", FormMethod.Post, new { id = "searchFormId" }))
{
 

    <div class="control-group ">
        <label class="control-label">
            @Html.LabelFor(model => model.DataConsulta)</label>
        <div class="controls">
            <div class="input-append datetimepicker">
                <input type="text" id="DataConsulta" name="DataConsulta" data-format="dd/MM/yyyy"
                    placeholder="Data da Consulta"><span class="add-on"><i data-time-icon="icon-time"
                        data-date-icon="icon-calendar" class="icon-calendar"></i></span></div>
        </div>
    </div>
    <div class="control-group ">
        <label class="control-label">
            @Html.LabelFor(model => model.Paciente)</label>
        <div class="controls">
            <input type="text" id="NomePaciente" name="NomePaciente" class="text-box single-line"
                placeholder="Nome do Paciente">
        </div>
    </div>

}
