@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}
<script type="text/javascript">
    function openImageModal(element) {
        var imageSource = "imageSource=" + $(element).attr('src');
        openModal('PhotoGallery', 'OpenImageModal', imageSource, "#image-modal");
    }
</script>
<div class="row-fluid" style="margin-top: 30px; margin-left: auto; margin-right: auto;">
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <img onclick="openImageModal(this);" alt="Portaria Principal" src="@Util.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/PortariaPrincipal.PNG"))" class="img-polaroid" />
                <h3>
                    Entrada</h3>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img onclick="openImageModal(this);" alt="Portaria Principal" 
            src="@Util.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/PortariaGanesh.png"))" class="img-polaroid" 
            onclick="openImageModal(this);" />
                <h3>
                    Ganesh</h3>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img onclick="openImageModal(this);" alt="Portaria Principal" 
            src="@Util.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/PortariaBranir.png"))" class="img-polaroid" 
            onclick="openImageModal(this);" />
                <h3>
                    Brani</h3>
            </div>
        </li>
    </ul>
</div>
@Html.Partial("_Modal", "image-modal")
