nav.main-navbar.z-depth-3
  .nav-wrapper.container
      .waves-light.waves-circle.left(ui-sref='main')
          img(src='assets/images/logo-navbar3.png', alt="Sua casa com comforto e segurança")
      ul.right.hide-on-med-and-down.right
        li.waves-effect.waves-light.animated.fadeInDown.delay-1.active(id="home-link")
          a.md-default-theme(ui-sref="main", ng-click="setActive('#home-link')") {{ 'HOME' | translate }}
        li.waves-effect.waves-light.animated.fadeInDown.delay-2(id="structure-link")
          a.md-default-theme(ui-sref="structure", ng-click="setActive('#structure-link')") Quem Somos
        li.waves-effect.waves-light.animated.fadeInDown.delay-4(id="location-link")
          a.md-default-theme(ui-sref="location", ng-click="setActive('#location-link')")  {{ 'LOCALIZATION' | translate }}
        li.waves-effect.waves-light.animated.fadeInDown.delay-3(id="contact-link")
          a.md-default-theme(ui-sref="contact", ng-click="setActive('#contact-link')") {{ 'CONTACT' | translate }}
      
      
  .row.title-navbar-row.hide-on-med-and-down.animated.fadeIn.delay-4.container
    p.title-navbar Sua casa com comforto e segurança    
 
.floating-button-container.hide-on-large-only
  .fixed-action-btn
    a.btn-floating.btn-large.green.waves-effect.waves-light(ui-sref="contact")
        i.large.material-icons email
