nav.main-navbar.z-depth-3
  .nav-wrapper.container
      .waves-light.waves-circle.left(href='#!')
          img(src='assets/images/logo-navbar3.png', alt="{{ 'CONDOMINIO_SAO_MIGUEL' | translate }}")
      