.main-navbar{
	margin-bottom: 20px;

	.nav-wrapper{    
    ul li:hover, 
    ul li.active {
        background-color: transparent;        
    }
    ul li.active{
        border-bottom: white solid 1px;        
    }
    ul li:hover{
        border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
        &.active{
          border-bottom: white solid 1px;
        }
    }
    
    
    
		.brand-logo{
			height: 64px;
      img{
          padding: 3px;
          height: 55px;
      }
		}
		
		.button-collapse{
			width: 64px;
      padding: 3px;
      height: 55px;
		}
	}
  
  .title-navbar-row{
    margin-top: 90px;
    .title-navbar{
      font-size: 64px;
    }
  }
}


 @media #{$large-and-up} {
    // styles for medium screens and larger
      .main-navbar{	
        padding: 30px 100px 180px 100px;
                
      }
  }
  
  
  @media #{$small-and-down} {
    // styles for small screens and down
  }
  @media #{$medium-and-up} {
    // styles for medium screens and larger
  }
  @media #{$medium-and-down} {
    // styles for medium screens and down
    .main-navbar{
  	 	.nav-wrapper{   
        .row{
          margin: 0;
        }    
      }  
    }
  }