#landing.container
  .card.z-depth-2
    .card-image
      img.img-fadein(src='assets/images/marketing-card.jpg')


#contact.col.s12.footer-info
  h3 Contato
  .row
    i.small.fa.fa-home.fa-fw.col.s12 Rua Joaquim Esteves de Oliveira, 382 - Alfenas - MG
    i.small.fa.fa-phone.col.s12 (35) 3292-4218
    i.small.fa.fa-whatsapp.col.s12 (35) 98838-3459
    i.small.fa.fa-facebook.col.s12 
      a(href="https://www.facebook.com/condominiosaomiguel/?rf=258289700856911" target="_blank") Nossa página no facebook!
    i.small.fa.col.s12 www.condominiosaomiguel.com.br

