#main{
  color: $color-primary-0;
  margin-bottom: 50px;
  padding-bottom: 25px;
}


#structure{
	color: $color-primary-0;
	padding-top: 40px;	
  	padding-bottom: 25px;
	.card{
		transition: all 0.5s ease-in-out;
		&:hover {
			transform: scale(1.05);
		}
		background-color: $color-primary-0;
		min-height: 250px;
		
		
		.card-content{			
			img{
				width: 100%;
			}
			.card-title{
			    line-height: 60px;
				font-size: 30px;
				font-weight: 700;
				text-align: center;
			}
		}
	}
}

#location{
	color: $color-primary-0;
	iframe{
		height: 100%;
		width: 100%;
		min-height: 300px;
		padding: 20px;
		
	}
	
	.card-image{
		&.card-image-google{
			max-width: 500px;
			a{
				transition: all 0.5s ease-in-out;
				&:hover {
					transform: scale(1.05);
				}
			}	
		}
	}


}



 @media #{$large-and-up} {
    
	#structure{
		.card{
			min-height: 500px;
		}
	}
	
	#location{
		iframe{
			height: 400px;
		}
	}	
  }
  
  