#main.flow-text.container
  .card.z-depth-2
    .card-image
      img(src='assets/images/banner-desc.jpg', alt="{{ 'CONDOMINIO_SAO_MIGUEL' | translate }}").main-picture
    .card-content
      .row
        .col.s6
          div Desde 1997, localizado na cidade de Alfenas-MG, o Condomínio São Miguel vem prestando um serviço de qualidade para seus moradores.
        .col.s6
          div Nosso objetivo é a satisfação e tranquilidade dos moradores do Condomínio, visando a proporcionar um ambiente agradável a todos.


