#landing.container
  .card.z-depth-2
    .card-image
      img.img-fadein(src='assets/images/marketing-card.jpg')

      


#main.flow-text.container
  .card.z-depth-2
    .card-image
      img(src='assets/images/banner-desc.jpg', alt="{{ 'CONDOMINIO_SAO_MIGUEL' | translate }}").main-picture
    .card-content
      .row
        .col.s6
          div Desde 1997, localizado na cidade de Alfenas-MG, o Condomínio São Miguel vem prestando um serviço de qualidade para seus moradores.
        .col.s6
          div Nosso objetivo é a satisfação e tranquilidade dos moradores do Condomínio, visando a proporcionar um ambiente agradável a todos.
        
#structure.flow-text.white.z-depth-2.row.container.fadeInLeft.delay-4.animated
    .col.s12.l4
        .card.z-depth-4
          .card-content.white-text.center-align
              img(src='assets/images/camera.jpg', alt="{{ 'SECURITY' | translate }}").main-picture.z-depth-2
              br
              span.card-title Segurança               
              p Portaria e Sistema de Monitoramento 24h
    .col.s12.l4
        .card.z-depth-4
          .card-content.white-text.center-align
              img(src='assets/images/shivaint.png', alt="{{ 'COMFORT' | translate }}").main-picture.z-depth-2
              br
              span.card-title Conforto               
              p Área de Lavanderia
              p Garagem
              p Bem Localizado
              
    .col.s12.l4
        .card.z-depth-4
            .card-content.white-text.center-align
              img(src='assets/images/piscina.jpg', alt="{{ 'RECREATION' | translate }}").main-picture.z-depth-2
              br
              span.card-title Lazer               
              p Piscina
              p Área de Churrasqueira
              p Pacote de canais SKY
                

#location.flow-text.container.z-depth-1
    .card.z-depth-2.col.s12
      .row
        .card-content.card-image-google
          a(href="https://www.google.com/maps/@-21.4387253,-45.9439465,3a,75y,305.33h,88.97t/data=!3m6!1e1!3m4!1sSp7w2BEj7ExH7PqkeCD7Vg!2e0!7i13312!8i6656?hl=pt-BR", alt="Google Street View - Olhe onde estamos!")
            img(src='assets/images/google-logo.png').col.s12.m6.l4.left
          .col.s12.m6.l8.right
            .col.s12 O Condomínio é constituído por sete prédios de dois andares, com entradas e interfones independentes para cada prédio, em um total de 52 apartamentos disponíveis para aluguel. 
              br
              div Internamente, os prédios se comunicam através das áreas comuns e da área de lazer.
      .row
        .col.s12
          iframe(src='https://www.google.com/maps/embed?pb=!1m0!3m2!1spt-BR!2sus!4v1444692930544!6m8!1m7!1sSp7w2BEj7ExH7PqkeCD7Vg!2m2!1d-21.4387252819411!2d-45.94394649309962!3f306.18734719201035!4f3.28574495148942!5f0.7820865974627469', width='400', height='500', frameborder='0', style='', allowfullscreen='true')
          
