.col.s12#landing
  .card.animated.fadeInUp.delay-1.z-depth-2.hoverable
    .card-image
      img.img-fadein(src='assets/images/marketing-card.png')

      


.col.s12#main.flow-text
  .card.animated.fadeInUp.delay-1.z-depth-2
    .card-image.waves-effect.waves-block.waves-light
      img(src='assets/images/banner-desc.png', alt="{{ 'CONDOMINIO_SAO_MIGUEL' | translate }}").main-picture.z-depth-2
    .card-content
      .row
        .col.s6
          div Desde 1997, o Condomínio São Miguel vem prestando um serviço de qualidade para seus moradores.
        .col.s6
          div Nosso objetivo é a satisfação e tranquilidade dos moradores do Condomínio, visando a proporcionar um ambiente agradável a todos.
        
.col.s12#structure.flow-text.white.z-depth-2
  .row
    .col.s12.m4
        .card.z-depth-4
          .card-content.white-text.center-align
              i.material-icons lock
              br
              span.card-title Segurança               
              p Portaria e Sistema de Monitoramento 24h
    .col.s12.m4
        .card.z-depth-4
          .card-content.white-text.center-align
              i.material-icons store
              br
              span.card-title Conforto               
              p Área de Lavanderia
              p Garagem
              p Bem Localizado
              
    .col.s12.m4
        .card.z-depth-4
          .card-content.white-text.center-align
              i.material-icons shopping_basket
              br
              span.card-title Lazer               
              p Piscina
              p Área de Churrasqueira
              p Pacote de canais SKY
              


.col.s12#main.flow-text
  .card.animated.fadeInUp.delay-1.z-depth-2
    .card-image.waves-effect.waves-block.waves-light
      img(src='assets/images/banner-desc.png', alt="{{ 'CONDOMINIO_SAO_MIGUEL' | translate }}").main-picture.z-depth-2
    .card-content
      .row
        .col.s6
          div Desde 1997, o Condomínio São Miguel vem prestando um serviço de qualidade para seus moradores.
        .col.s6
          div Nosso objetivo é a satisfação e tranquilidade dos moradores do Condomínio, visando a proporcionar um ambiente agradável a todos.
                             