div#main.row
  .col.s12
    .hoverable.main-card.card.animated.fadeIn.delay-1.z-depth-2
      .card-image.waves-effect.waves-block.waves-light
        img(src='assets/images/banner-desc.png', alt="{{ 'CONDOMINIO_SAO_MIGUEL' | translate }}").img-responsive.main-picture.z-depth-2
      .card-content
        .row
          .col.s12.m6
            div Desde 1997, o Condomínio São Miguel presta um serviço de qualidade para seus moradores.
              br Internamente, os prédios se comunicam através das áreas comuns e da área de lazer.
          .col.s12.m6 O Condomínio é constituído por sete prédios de dois andares, com entradas e interfones independentes para cada prédio, em um total de 52 apartamentos disponíveis para aluguel. Nosso objetivo é a satisfação e tranquilidade dos moradores do Condomínio, visando a proporcionar um ambiente agradável a todos.




        
      


div#structure.row
    .col.s12.m7
      .card.Medium.animated.fadeInUp.delay-1.z-depth-2
        .card-image
          img(src='assets/images/marketing-card.jpg').img-responsive
    .col.m5
      .card-panel.white
        p SADASD
      