#main{
  color: $rgba-secondary-1-4;
  margin-bottom: 50px;
  padding-bottom: 25px;
}


#structure{
	color: $color-primary-0;
	padding-top: 40px;
	
	margin-bottom: 50px;
  	padding-bottom: 25px;
	.card{
		background-color: $color-primary-0;
		min-height: 250px;
		.card-content{			
			.card-title{
			    line-height: 60px;
				font-size: 30px;
				font-weight: 700;
				text-align: center;
			}
		}
	}
}

#location{
	iframe{
		height: 100%;
		width: 100%;
	}	
	
}



 @media #{$large-and-up} {
    
	#structure{
		.card{
			min-height: 450px;
		}
	}
	
	#location{
		iframe{
			height: 500px;
		}
	}	
  }
  
  