#main.flow-text.container
  .card.z-depth-2
    .card-image
      img(src='assets/images/banner-desc.jpg', alt="{{ 'ALT' | translate }}").main-picture
      span.card-title.hide Sua moradia, com comforto e segurança, em Alfenas - Alugue nossos apartamentos
    .card-content
      .row
        .col.s6
          div Desde 1997, localizado na cidade de Alfenas-MG, o Condomínio São Miguel vem prestando um serviço de qualidade para seus moradores.
        .col.s6
          div Nosso objetivo é a satisfação e tranquilidade dos moradores do Condomínio, visando a proporcionar um ambiente agradável a todos.


