<div class="container">
    <div class="header-content">
        <div class="row-fluid">
            <div class="span5">
                <div style="background-color: #304971;" class="span3">
                    <div class="small-square-top-menu">
                    </div>
                </div>
                <div style="background-color: #153568;" class="span3">
                    <div class="small-square-top-menu">
                    </div>
                </div>
                <div style="background-color: #2A4E87;" class="span3">
                    <div class="small-square-top-menu">
                    </div>
                </div>
                <div style="background-color: #5A7BAF;" class="span3">
                    <div class="small-square-top-menu">
                    </div>
                </div>
            </div>
            <div style="background-image: -ms-linear-gradient(left, #5A7BAF 0%, #263B5C 100%);
                background-image: -moz-linear-gradient(left, #5A7BAF 0%, #263B5C 100%); background-image: -o-linear-gradient(left, #5A7BAF 0%, #263B5C 100%);
                background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #5A7BAF), color-stop(1, #263B5C));
                background-image: -webkit-linear-gradient(left, #5A7BAF 0%, #263B5C 100%); background-image: linear-gradient(to right, #5A7BAF 0%, #263B5C 100%);"
                class="span7">
                <div class="large-square-top-menu">
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <h1 style="text-align: center;">@Util.Constants.MOVEIS_SANTA_EDWIGES</h1>
            </div>
            @*    <div class="span2" style="position:fixed;top: 20px;background-color:#3B3A8A;">
                <img src="@Util.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/logo.jpg"))" 
                style="height: 120px;margin:auto;display:block;">
            </div>*@
        </div>
    </div>
   
</div>
