<dl>
    <dt class="title-form-integra">Controle de Processos</dt>
    <dd class="form-group">
        <label class="control-label">Usuário Integra</label>
        <div class="">
            <input id="txtUsuario" type="text" class="form-control" placeholder="Usuario Integra" />
        </div>

    </dd>
    <dd class="form-group">
        <label class="control-label">Senha</label>
        <div class="">
            <input type="password" id="txtSenha" class="form-control" placeholder="Senha" />
        </div>
    </dd>
    <dd class="form-group">
        <label>&nbsp;</label>
        <input class="btn btn-default btn-red" type="submit" value="Entrar" />

    </dd>

</dl>
