<nav id="nav_elsewhere" class="nav_list">
    <dl>
        <dt>Elsewhere on the Net</dt>
        <dd><a href="http://dribbble.com/joshualane" rel="me"><strong>Dribbble</strong> - - - - - - - - - - - - - - - - - - - - <small>›››</small></a></dd>
        <dd><a href="http://www.facebook.com/joshualane78" rel="me"><strong>Facebook</strong> - - - - - - - - - - - - - - - - - - - - <small>›››</small></a></dd>
        <dd><a href="http://flickr.com/joshualane" rel="me"><strong>Flickr</strong> - - - - - - - - - - - - - - - - - - - - <small>›››</small></a></dd>
        <dd><a href="https://plus.google.com/117816873275931593639" rel="me"><strong>Google+</strong> - - - - - - - - - - - - - - - - - - - - <small>›››</small></a></dd>
        <dd><a href="http://instagram.com/joshualane" rel="me"><strong>Instagram</strong> - - - - - - - - - - - - - - - - - - - - <small>›››</small></a></dd>
        <dd><a href="https://pinterest.com/joshualane" rel="me"><strong>Pinterest</strong> - - - - - - - - - - - - - - - - - - - - <small>›››</small></a></dd>
        <dd><a href="http://www.rdio.com/people/joshualane/" rel="me"><strong>Rdio</strong> - - - - - - - - - - - - - - - - - - - - <small>›››</small></a></dd>
        <dd><a href="http://joshualane.tumblr.com" rel="me"><strong>Tumblr</strong> - - - - - - - - - - - - - - - - - - - - <small>›››</small></a></dd>
        <dd><a href="http://twitter.com/joshualane" rel="me"><strong>Twitter</strong> - - - - - - - - - - - - - - - - - - - - <small>›››</small></a></dd>
    </dl>
</nav>
