
<nav id="nav_categories" class="nav_list">
    <form class="form-horizontal" role="form" action="http://www.api.adv.br/integra4/include/logarSistema.asp" method="get" onsubmit="return ValidaDados()">
        @Html.Partial("LoginFormSmall")
    </form>
</nav>
<script type="text/javascript">
    function ValidaDados() {
        debugger;
        if ($('#txtUsuario').val() == "") {
            alert("O campo usuário é obrigatório");
            return false;
        }
        if ($('#txtSenha').val() == "") {
            alert("O campo senha é obrigatório");
            return false;
        }
        return true;
    }

</script>


