@model Model.ExameImagemModel

<div class="row-fluid">
    <div class="span12">
        <a title="Detalhes" onclick="openImageModal(@Model.Id)"><i class="icon-search"></i></a>
    </div>
</div>




   