<div class="row featurette">
    <div class="col-md-12">
        <fieldset>

            <legend class="featurette-heading">Glossário</legend>

            <blockquote>
                <p>ACÓRDÃO</p>
                <small>Julgamento exarado por uma das turmas, seções ou pelo plenário de algum Tribunal.</small>
            </blockquote>
            <blockquote>
                <p>ACÓRDÃO PUBLICADO</p>
                <small>Data da publicação do Acórdão.</small>
            </blockquote>
            <blockquote>
                <p>AGRAVO DE INSTRUMENTO</p>
                <small>Recurso interposto contra decisão interlocutória, ou seja, aquela que resolve, no curso do processo, questão incidental.</small>
            </blockquote>

            <blockquote>
                <p>AGUARDANDO PRAZO</p>
                <small>Prazo para a realização de ato processual por alguma ou ambas as partes.
                </small>
            </blockquote>


            <blockquote>
                <p>APENSADO</p>
                <small>Processo autuado em apenso, isto é, anexo a outro processo em que uma causa influi na outra.
                </small>
            </blockquote>

            <blockquote>
                <p>BAIXA DEFINITIVA À</p>
                <small>Retorno dos autos do processo à instância de origem.
                </small>
            </blockquote>

            <blockquote>
                <p>CARGA</p>
                <small>Retirada dos autos do processo da secretaria pelo advogado, perito, etc.
                </small>
            </blockquote>

            <blockquote>
                <p>CITAÇÃO</p>
                <small>Ato de dar ciência ao réu da existência de uma ação proposta em seu desfavor.
                </small>
            </blockquote>

            <blockquote>
                <p>CONCLUSOS PARA DESPACHO/CONCLUSÃO AO RELATOR/CONCLUSÃO AO PRESIDENTE</p>
                <small>Processo enviado para o Juiz para que seja proferida alguma decisão .
                </small>
            </blockquote>


            <blockquote>
                <p>CONCLUSOS PARA SENTENÇA</p>
                <small>Processo enviado para o Juiz para que seja proferida a sentença.
                </small>
            </blockquote>


            <blockquote>
                <p>CONTRARRAZÕES</p>
                <small>Resposta ao recurso interposto pela parte contrária (apelação, recurso especial, recurso extraordinário)
                </small>
            </blockquote>

            <blockquote>
                <p>DEU PROVIMENTO</p>
                <small>O Tribunal/Turma Recursal acolheu o recurso, reformando a sentença.
                </small>
            </blockquote>

            <blockquote>
                <p>DEU PROVIMENTO PARCIAL</p>
                <small>O Tribunal/Turma Recursal alterou parte da sentença.
                </small>
            </blockquote>


            <blockquote>
                <p>DISTRIBUIÇÃO AUTOMÁTICA</p>
                <small>Data em que a ação foi proposta ou que o processo foi recebido pelo tribunal.
                </small>
            </blockquote>


            <blockquote>
                <p>DESPACHO</p>
                <small>Ato ordinatório do juiz, para dar prosseguimento ao processo ou determinar a realização de algum ato pelas partes.
                </small>
            </blockquote>

            <blockquote>
                <p>DECISÃO NEGANDO SEGUIMENTO</p>
                <small>Decisão monocrática que não admite o recurso interposto.
                </small>
            </blockquote>

            <blockquote>
                <p>EMBARGOS DE DECLARAÇÃO</p>
                <small>Recurso interposto perante o próprio juiz ou tribunal prolator da decisão atacada, buscando sanar omissão, contradição, obscuridade ou erro material.
                </small>
            </blockquote>

            <blockquote>
                <p>INCLUÍDO NA PAUTA PARA JULGAMENTO</p>
                <small>Definida a data do julgamento do recurso.
                </small>
            </blockquote>


            <blockquote>
                <p>INTIMAÇÃO</p>
                <small>Ato de cientificar as partes dos despachos e decisões.
                </small>
            </blockquote>

            <blockquote>
                <p>JULGAMENTO CONVERTIDO EM DILIGÊNCIA</p>
                <small>Adiamento da decisão diante da necessidade de uma instrução mais rigorosa do feito, normalmente com a produção de mais provas.
                </small>
            </blockquote>

            <blockquote>
                <p>NEGOU PROVIMENTO AO RECURSO</p>
                <small>O Tribunal/Turma Recursal rejeitou o recurso.
                </small>
            </blockquote>

            <blockquote>
                <p>PETIÇÃO/OFÍCIO/DOCUMENTO RECEBIDO EM SECRETARIA</p>
                <small>Petição, ofício ou documento juntado aos autos do processo pelas partes ou por terceiro.
                </small>
            </blockquote>

            <blockquote>
                <p>PROCESSO SOBRESTADO</p>
                <small>Feito suspenso, aguardando a resolução de algum incidente ou julgamento de algum recurso.
                </small>
            </blockquote>

            <blockquote>
                <p>RECEBIDOS DO STF/STJ/TST/TJMG/TRF/TRT</p>
                <small>Devolução do processo para a primeira instância.
                </small>
            </blockquote>


            <blockquote>
                <p>RECEBIDOS EM SECRETARIA</p>
                <small>Devolução dos autos do processo pelo advogado/perito.
                </small>
            </blockquote>


            <blockquote>
                <p>RECURSO DE REVISTA</p>
                <small>Recurso interposto para o TST – Tribunal Superior do Trabalho, contra decisão do TRT – Tribunal Regional do Trabalho, em matéria trabalhista.
                </small>
            </blockquote>
            <blockquote>
                <p>RECURSO ESPECIAL</p>
                <small>RESP. Recurso dirigido ao STJ - Superior Tribunal de Justiça, em face de decisão do Tribunal de 2ª Instância (TJMG, TRF, por exemplo), que possa ter contrariado a legislação infra-constitucional.
                </small>
            </blockquote>

            <blockquote>
                <p>RECURSO EXTRAORDINÁRIO</p>
                <small>RE. Recurso dirigido ao STF - Supremo Tribunal Federal, interposto contra a decisão do Tribunais de 2ª Instância (TJMG, TRF, por exemplo), versando sobre matéria constitucional.
                </small>
            </blockquote>

            <blockquote>
                <p>REMESSA OFICIAL</p>
                <small>REO. Nos processos em que um ente da administração for parte, existe o chamado duplo grau de jurisdição obrigatório, que consiste na reapreciação da sentença pelo tribunal independentemente da interposição de recurso voluntário pelo órgão público.
                </small>
            </blockquote>
            <blockquote>
                <p>REMETIDOS STF/STJ/TST/TJMG/TRF/TRT</p>
                <small>Processo enviado para o Tribunal.
                </small>
            </blockquote>
            <blockquote>
                <p>SENTENÇA COM EXAME DO MÉRITO</p>
                <small>Julgamento de 1ª instância que apreciou o mérito dos pedidos , julgando o feito procedente , procedente parcialmente ou improcedente, 
                </small>
            </blockquote>
            <blockquote>
                <p>
                    SENTENÇA SEM EXAME DO MÉRITO
                </p>
                <small>Julgamento de 1ª instância que extingui o processo sem apreciar o mérito dos pedidos.
                </small>
            </blockquote>
            <blockquote>
                <p>
                    SENTENÇA IMPROCEDENTE
                </p>
                <small>Rejeitou a pretensão do(s) autor(es).
                </small>
            </blockquote>
            <blockquote>
                <p>
                    SENTENÇA PROCEDENTE
                </p>
                <small>Acolheu os pedidos veiculados pelo(s) autor(es)
                </small>
            </blockquote>
            <blockquote>
                <p>
                    VISTA ORDENADA
                </p>
                <small>Processo à disposição da parte.
                </small>
            </blockquote>
            <blockquote>
                <p>
                    TRÂNSITO EM JULGADO
                </p>
                <small>Processo não admite mais recursos, a sentença tornou-se irrecorrível.
                </small>
            </blockquote>



        </fieldset>
    </div>
</div>
