@using Util
@{
    ViewBag.Title = Constants.MOVEIS_SANTA_EDWIGES;
}
<div class="span6">
    <div class="media" style="border-color: rgb(158, 182, 220); border-right-style: dotted; border-right-width: 1px">
        <div class="media-body">
            <div class="row-fluid">
onec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.                <br /><br />
                onec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            </div>
        </div>
    </div>
</div>
<div class="span6">
    <div class="media">
        <div class="media-body">
            <div class="row-fluid">
                 onec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                <br /><br />
                onec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            </div>
        </div>
    </div>
</div>
