<hr>
<div class="footer">
    <p class="muted" style="text-align: center">@CondominioSaoMiguel.Util.Constants.Information.SECUNDARY_EMAIL - @CondominioSaoMiguel.Util.Constants.Information.PRIMARY_EMAIL</p>
    <p class="muted" style="text-align: center">@CondominioSaoMiguel.Util.Constants.Information.COMPLETE_ADDRESS</p>
    <p class="muted" style="text-align: center">Condomínio São Miguel - Desde 1997 </p>
      </div>




