<div id="footer" style="background-color: black;">    
        <div class="" style="text-align: center; color: white;">@CondominioSaoMiguel.Util.Constants.Information.PRIMARY_EMAIL</div>
        <div class="" style="text-align: center;color: white;">@CondominioSaoMiguel.Util.Constants.Information.COMPLETE_ADDRESS</div>
        <div class="" style="text-align: center; color: white;">Condomínio São Miguel - 2012 </div>    
</div>




