
<div class="navbar" style="margin: 20px; height: 150px;">
    <div class="navbar-inner" style="border-radius: 0px; border-top-width: 0px; border-bottom-width: 0px;
        border-right-width: 0px; border-left-width: 0px; padding-left: 320px; padding-right: 320px;">
        <a class="brand" href="javascript:void(0);" onclick="return false;">
            <img src="../../Content/img/LogoMenu.jpg" width="146px;" class="pull-left" style="padding-top: 5px;
                padding-bottom: 5px; padding-right: 10px; width: 160px; padding-left: 10px;" />
        </a>
        <div class="container">
            <ul class="nav">
                <li class="active"><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');"
                    id="Home">Home</a></li>
                <li><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');" id="About">Estrutura</a></li>
                <li><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');" id="Apartment">Apartamentos</a></li>
                <li><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');" id="Localization">
                    Localização</a></li>
                <li><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');" id="PhotoGallery">
                    Fotos</a></li>
                <li><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');" id="Contact">Contato</a></li>
            </ul>
        </div>
    </div>
</div>
