<div class="navbar">
    <div class="navbar-inner" style="border-radius: 0px;">
        <div class="container">
            <a class="brand" style="background-image:url('../Content/img/FundoMenuItemSelecionado.jpg')" href="javascript:void(0);" onclick="return false;">
                <img alt="Condomínio São Miguel" src="../../Content/img/LogoClaro.png" class="pull-left" />
            </a>
            <button style="margin-top: 10px;" type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                </span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');"
                        id="Home">Condomínio</a></li>
                    <li><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');" id="About">Estrutura</a></li>
                    <li><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');" id="Apartment">Apartamentos</a></li>
                    <li><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');" id="Localization">
                        Localização</a></li>
                    <li><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');" id="PhotoGallery">
                        Fotos</a></li>
                    <li><a onclick="replaceOnComplete(this.id, 'Index', null, 'body');" id="Contact">Contato</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>
