<div id="header">
    <div class="navbar navbar-inverse" style=" margin-bottom: 0px; ">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" style="color: white;">Condomínio São Miguel</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a onclick="replaceOnComplete(this.id, 'IndexPartialView', null, '#main-panel');" id="Home">Home</a></li>
                    <li><a onclick="replaceOnComplete(this.id, 'IndexPartialView', null, '#main-panel');" id="About">Estrutura</a></li>
                    <li><a onclick="replaceOnComplete(this.id, 'IndexPartialView', null, '#main-panel');" id="Apartment">Apartamentos</a></li>
                    <li><a onclick="replaceOnComplete(this.id, 'IndexPartialView', null, '#main-panel');" id="Localization">Localização</a></li>
                    <li><a   onclick="replaceOnComplete(this.id, 'IndexPartialView', null, '#main-panel');" id="PhotoGallery">Fotos</a></li>
                    <li><a  onclick="replaceOnComplete(this.id, 'IndexPartialView', null, '#main-panel');" id="Contact">Contato</a></li>                                                                       
                </ul>
            </div>
            <a class="brand" >
            @Html.Partial("_FacebookLike")
            </a>

        </div>
    </div>

</div>
