<!DOCTYPE html>
<html>
    <head>
        
        <title>@ViewBag.Title</title>
        <link href="../../Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/condominio-sao-miguel.css" rel="stylesheet" type="text/css" />
        
    </head>
    
    <body id="bodyId" style="height: 100%">
        <div id="container" style="height: 100%">
           
            @Html.Partial("_Header")
            
            <div id="body" style="height: auto">
                <div id="main-panel"  class="marketing"  >
                    @RenderBody()
                </div>
            </div>
            
        </div>
        <script src="../../Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script src="../../Content/bootstrap/js/bootstrap.js" type="text/javascript"></script>
        <script src="../../Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>           
        <script src="../../Scripts/condominio-sao-miguel.js" type="text/javascript"></script>
        <script src="../../Scripts/jquery.showLoading.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
//                $.ajaxSetup({
//                    beforeSend: function () {
//                        $('#bodyId').showLoading({ 'addClass': 'loading-indicator' });
//                    },
//                    complete: function () {
//                        
//                        $('#bodyId').hideLoading();
//                    }
//                });

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=191498324197350";
                    fjs.parentNode.insertBefore(js, fjs);
                } (document, 'script', 'facebook-jssdk'));

            });
	    


  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36484766-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	    
        </script>
    </body>
</html>


