@model string



            <div class="modal-body" style=" padding-bottom: 0px; padding-right: 0px; padding-top: 0px; padding-left: 0px; ">
              
                <img src="@Model" alt=""/>

            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Close</button>
            </div>
