@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}

<div class="row-fluid span12" style="margin-bottom: 75px; width: 98%;">
    
        
    <div class="container-narrow span4" align="center" style="text-align: left">
        <div class="jumbotron">
            <h2 style=" text-align: left; ">Apartamento Simples</h2>
        </div>

        <div class="row-fluid marketing">
            <div class="well"  style=" width: 50%; ">
                <ul>
                
                    <li>
                        1 Quarto
                    </li>
                    <li>
                        1 Banheiro
                    </li>
                    <li>
                        1 Sala conjugada com cozinha e área de serviço
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-narrow span4" align="center" style="text-align: left">
        <div class="jumbotron">
            <h2 style=" text-align: left; ">Apartamento Duplo</h2>
        </div>

        <div class="row-fluid marketing">
            <div class="well" style=" width: 50%; " >
                <ul>
                
                    <li>
                        2 Quartos
                    </li>
                    <li>
                        1 Banheiro
                    </li>
                    <li>
                        1 Sala
                    </li>
                    <li>
                        1 Cozinha
                    </li>
                    <li>
                        1 Área de Serviço
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-narrow span4" align="center" style="text-align: left">
             <div class="jumbotron">
                 <h2 style=" text-align: left; ">Apartamentos Mobiliados</h2>
             </div>

             <div class="row-fluid marketing">
                 <div class="well" style=" width: 50%; ">
                         <ul>
                
                    <li>
                        Aluga-se apartamentos mobiliados
                    </li>
                    <li>
                        Vende-se ou aluga-se mobílias
                    </li>
                </ul>
            
                 </div>
             </div>
         </div>    
</div>
@Html.Partial("_Footer")
