@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}
<div class="row-fluid">
    
        <div class="span4" align="center" style="text-align: left">
            <div class="title">
                Apto. de 1 Quarto</div>
            <div class="row-fluid">
                <div class="span12">
                    <ul class="apartment-description">
                        <li>1 Quarto </li>
                        <li>1 Banheiro </li>
                        <li>1 Sala conjugada com cozinha e área de serviço </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span4" align="center" style="text-align: left">
            <div class="title">
                Apto. de 2 Quartos</div>
            <div class="row-fluid">
                <div class="span12">
                    <ul class="apartment-description">
                        <li>2 Quartos </li>
                        <li>1 Banheiro </li>
                        <li>1 Sala </li>
                        <li>1 Cozinha </li>
                        <li>1 Área de Serviço </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span4" align="center" style="text-align: left">
            <div class="title">
                Apto. Mobiliados</div>
            <div class="row-fluid">
                <div class="span12">
                    <ul class="apartment-description">
                        <li>Aluga-se apartamentos mobiliados </li>
                        <li>Vende-se ou aluga-se mobílias </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
