@model Boolean
<button type="submit" class="btn  btn-success" onclick="$('#saveFormId').submit()">
    Save</button>
<button class="btn btn-inverse" type="submit" onclick="$('#cancelFormId').submit()">
    Cancel</button>
@if (Model)
{
    <a class="btn btn-danger" title="@Util.Constants.Page.DELETE" type="submit" 
                    onclick="$('#deleteFormId').submit()">Delete</a>
}
