<div id="footer">
    <div class="container">
        <button type="submit" class="btn  btn-success pull-left" onclick="$('#saveFormId').submit()">
            @Util.Constants.Page.SAVE</button>
        <button class="btn btn-inverse pull-left" type="submit" onclick="$('#cancelFormId').submit()"
            style="margin-left: 50px;">
            @Util.Constants.Page.CANCEL</button>
    </div>
</div>
