@model IEnumerable<Model.SubMenuModel>
@{
    ViewBag.Title = "SubMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Busca - SubMenu</h2>

@Html.Partial("SubMenuList", Model)


   