@model Model.SubMenuModel

<div class="row-fluid">
    <div class="span6">
        <a  title="Edição" href="@Url.Action("Edit", "SubMenu", new { p_Identifier = Model.Id })"><i class="icon-edit">
        </i></a>
    </div>
    <div class="span6">
        <a title="Detalhes" href="@Url.Action("Info", "SubMenu", new { p_Identifier = Model.Id})" ><i class="icon-search">
        </i></a>
    </div>
</div>


   