@model String
<div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="fileupload-preview thumbnail" style="width: 100px; height: 80px;">
    </div>
    <div>
        <span class="btn btn-file"><span class="fileupload-new">Escolher Imagem</span> <span
            class="fileupload-exists">Alterar Imagem</span>
            <input type="file" name="@Model" />
        </span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover Imagem</a>
    </div>
</div>