@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}

<div class="row-fluid span12" style="margin-bottom: 75px;">
    
        
    <div class="container-narrow">
        <div class="jumbotron">
            <h2>Segurança</h2>
            @*<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>        *@
        </div>

        <div class="row-fluid marketing">
            <div class="span4">
                <h4>Portaria 24h</h4>                    
            </div>
            <div class="span4">          
                <h4>Circuito Interno de TV</h4>
            </div>

            <div class="span4">
                <h4>Alarmes e Sensores de Movimento</h4>
          
            </div>
        </div>
    </div>
    <hr>
    <br/>
    <div class="container-narrow">
        <div class="jumbotron">
            <h2>Conforto</h2>
            @*<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>  *@      
        </div>

        <div class="row-fluid marketing">
            <div class="span4">
                <h4>Garagem com vaga demarcada</h4>                    
            </div>
            <div class="span4">          
                <h4>Lavanderia</h4>
            </div>

            <div class="span4">
                <h4>Contato direto com o proprietário</h4>
          
            </div>
        </div>
    </div>
    <hr>
    <br/>
     <div class="container-narrow">
        <div class="jumbotron">
            <h2>Lazer</h2>
            @*<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>        *@
        </div>

        <div class="row-fluid marketing">
            <div class="span4">
                <h4>Piscina</h4>                    
            </div>
            <div class="span4">          
                <h4>Área de Churrasqueira</h4>
            </div>
            <div class="span4">
                <h4>Pacote SKY - Pacote de 10 canais</h4>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
    
</div>
