@using CondominioSaoMiguel.Util
@{
    ViewBag.Title = "Condomínio São Miguel";
}
@Html.Partial("_HeaderImage")


<div class="control-group row-fluid span12">
    <label class="control-label" for="inputIcon">
        <b>Endereço</b></label>
    <div class="controls">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-home"></i></span>
            <input disabled="disabled"  class="input-xxlarge" type="text" title='Rua Joaquim Esteves de Oliveira, 382 - Jd. São Lucas - Alfenas - MG' value='Rua Joaquim Esteves de Oliveira, 382 - Jd. São Lucas - Alfenas - MG' />
        </div>
        <br />
        <label class="control-label" for="inputIcon">
            <b>Telefone</b></label>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input disabled="disabled" type="text" title='(35) 3291-3996' value='(35) 3291-3996'/>
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input disabled="disabled" type="text" title='(35) 8838-3459' value='(35) 8838-3459'/>
        </div>
        <br />
        <label class="control-label" for="inputIcon">
            <b>Email</b></label>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input disabled="disabled" type="text" title='carvalho_ae@hotmail.com' value='carvalho_ae@hotmail.com' />
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input disabled="disabled" type="text" title='aliene.carvalho@terra.com.br' value='aliene.carvalho@terra.com.br' />
        </div>
        <br />
        <br />
        <br />
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                src="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.com.br/maps?q=-21.439208,-45.94402&amp;layer=c&amp;sll=-21.439203,-45.944061&amp;cbp=13,326.33,,0,0.48&amp;cbll=-21.438767,-45.943968&amp;hl=en&amp;gl=br&amp;ie=UTF8&amp;ll=-21.438938,-45.943998&amp;spn=0.006821,0.012403&amp;t=m&amp;z=14&amp;panoid=rkIl4DfJGrYgGHW6u0cp3A&amp;source=embed" style="color:#0000FF;text-align:left">
                                                                                                                                                                                                                                                                                                                                                                                        Localização no Google Maps</a></small>
    </div>
</div>
