@using Util
@{
    ViewBag.Title = Constants.MOVEIS_SANTA_EDWIGES;
}
<legend>Conjuntos Escolares</legend>
<div class="row-fluid">
    <div class="span4">
        <img src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/cad1.jpg"))"/>
        <p>
            <b>Carteira</b> - Tampo: 60x40cm - Alturas: 73, 70 ou 65cm<br />
            <b>Cadeira</b> - Assento: 34x37cm - Encosto: 37x19cm - Alturas do Assento: 43, 41
            ou 38cm<br />
            <b>SE01</b> - Tampo, assento e encosto em polipropileno<br />
            <b>SE02</b> - Tampo em fórmica, assento e encosto em polipropileno<br />
        </p>
        <p>
    </div>
    <div class="span4">
        <img src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/cad2.jpg"))"/>
        <p>
            <b>Carteira</b> - Tampo: 60x40cm - Alturas: 73, 70 ou 65cm<br />
            <b>Cadeira</b> - Assento: 34x37cm - Encosto: 37x19cm - Alturas do Assento: 43, 41
            ou 38cm<br />
            <b>SE03</b> - Tampo, assento e encosto em polipropileno<br />
            <b>SE04</b> - Tampo, assento e encosto em fórmica<br />
        </p>
        <p>
    </div>
    <div class="span4">
        <img src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/cad3.jpg"))"/>
        <p>
            <b>Carteira</b> - Tampo: 62x40cm - Alturas: 73, 70 ou 65cm<br />
            <b>Cadeira</b> - Assento: 34x37cm - Encosto: 37x19cm - Alturas do Assento: 43, 41
            ou 38cm<br />
            <b>SE05</b> - Tampo em fórmica, assento e encosto em polipropileno<br />
            <b>SE06</b> - Tampo, assento e encosto em polipropileno<br />
        </p>
        <p>
    </div>
</div>
